@inject UserManager<AppUser> UserManager
@model JobDetailsViewModel
@{
	ViewData["Title"] = "Job Details";
	var user = await UserManager.GetUserAsync(User);
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<img class="mx-auto d-block" style="width: 20rem;" src="@Model.ImageUrl" />
<div class="text-center row">
	<div class="col">
		<label>Position</label>
		<p>@Model.Position</p>
		<label>Status</label>
		<p>@Model.Status</p>
		<label>Salary</label>
		<p>@Model.Salary leva</p>
		<label>Bonus</label>
		<p>@Model.Bonus</p>
		<label>Vacation Days</label>
		<p>@Model.VacationDays</p>
		<label>Type</label>
		<p>@Model.Type</p>
		<div class="text-center">
			@if (user.Id == Model.UserId && User.IsInRole("Company") || User.IsInRole("Admin"))
			{
				<a asp-controller="Company" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-75 p-3 fw-bold">Edit</a>
				<a asp-controller="Company" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mb-2 w-75 p-3 fw-bold">Delete</a>
			}
			else if (User.IsInRole("Applicant"))
			{
				<button class="btn btn-light dropdown-toggle w-75 mb-2 p-3 fw-bold"
						data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
					Apply
				</button>
				<div class="dropdown-menu">
					@if (Model.Applications.Any())
					{
						@foreach (var e in Model.Applications)
						{
							<a class="dropdown-item apply-link" asp-controller="Job" asp-action="Apply"
							asp-route-applicationId="@e.Id" asp-route-jobId="@Model.Id">@e.Name</a>
						}
					}
					else
					{
						<a class="dropdown-item" asp-controller="Application"
						asp-action="Create">Create Application...</a>
					}

				</div>
			}
		</div>
		<p id="hidden-text" class="text-danger d-none"></p>
	</div>
	<div class="col">
		<label>Description</label>
		<p>@Model.Description</p>
		<label>Last Updated On</label>
		<p>@Model.LastUpdatedOn</p>
		<label>Company Name</label>
		<p>@Model.CompanyName</p>
		<label>Company Email</label>
		<p>@Model.Email</p>
		<label>Location</label>
		<p>@Model.Location</p>
		<label>Address</label>
		<p>@Model.Address</p>
	</div>
</div>
@section Scripts {
	<script>
		$(document).ready(function () {
			$('.apply-link').click(function (e) {
				e.preventDefault();

				const href = $(this).attr('href');
				const urlParams = new URLSearchParams(href.split('?')[1]);

				const applicationId = urlParams.get('applicationId');
				const jobId = urlParams.get('jobId');
				console.log(applicationId);
				console.log(jobId);
				const hiddenText = $('#hidden-text');
				hiddenText.removeClass('d-none').show();
				$.ajax({
					url: '/Job/Apply',
					type: 'GET',
					data: { jobId: jobId, applicationId: applicationId },
					success: function (response) {
						if (response.alreadyApplied) {
							hiddenText.text('You have already applied for this job with this application.');
						} else {
							hiddenText.text('You have sent the application successfully!');
						}
					},
					error: function (xhr, status, error) {
						console.error(xhr.responseText);
					}
				});
			});
		});
	</script>
}


