@model JobOffersViewModel

<img style="width: 15rem;" src="@Model.ImageUrl" />
<h4 class="card-title mt-1 fw-bold">@Model.Position</h4>
<h5 class="card-title mt-1">Status: @Model.Status</h5>
<h5 class="card-title mt-1">Salary: @Model.Salary leva</h5>
<h5 class="card-title mt-1">Vacation Days: @Model.VacationDays per year</h5>
<h5 class="card-title mt-1">Type: @Model.Type</h5>