@model DetailsApplicationViewModel
@{
	ViewBag.Title = "Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center">
	<h4 class="mb-3">@Model.Name</h4>
	<h4 class="mb-3">@Model.Email</h4>
	<h4 class="mb-3">@Model.FullName</h4>
	<p class="mb-3">@Model.Description</p>
	<p class="mb-3">@Model.Reasons</p>
</div>